.SingleProduct-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(228, 220, 220);
    padding-top: 1.5%;
}

.SingleProduct {
    width: 810px; /* Use the full width on smaller screens */
    text-align: center;
    padding: 2% 1%;
    background-color: rgb(255, 255, 255);
}

p {
    padding: 1.2% 2% 2% 2%;
    text-align: start;
    font-weight: 500;
    color: rgb(77, 75, 75);
}

img {
    max-width: 100%; /* Ensure the image scales with the container */
    height: auto; /* Maintain aspect ratio */
}

.Heading {
    color: rgb(47, 47, 48);
    font-size: 34.666px;
}

.Title {
    padding-top: 2%;
    color: rgb(102, 97, 97);
}

.Main-Content {
    text-decoration: none;
    text-align: start;
}

@media (max-width: 768px) {
    .SingleProduct {
        width: 100%;
        /* Adjust other styles as needed for smaller screens */
    }
}
